A Child’s Imagination
It’s a beautiful sunny day. Christy Miller is lying in the ham¬mock in the back yard. She can hear the woodpeckers in the trees. Peck.. .peck.. .peck. She can smell the beautiful flowers near the stream. She can hear the roar of the crocodiles com¬ing from the stream. What! Crocodiles! Christy looks. Four big crocodiles are walking toward the hammock!
“What can I do?” Christy says. She sees the big chestnut tree near her house. She runs to it, and climbs to the first branch. She hears another roar. There is a leopard in the tree with her! The crocodiles are under the tree. There is no place to go!
Christy climbs higher and higher. Soon, she is at the top of the tree. Where can she go now? She looks down, and sees a gorilla sitting near her. It looks very hungry. Christy can’t fly. Where can she go?
Suddenly, a purple airplane comes out from behind the clouds. It stops near the top of the tree. Christy gets in the plane. Christy sits down in a pink seat. It has yellow stripes. She is the only passenger on the plane. There is only a little window. Christy looks out. The plane is going very fast. She can see white clouds. That’s all.
The door to the cockpit opens. A very strange alien is walks out. It looks like “E.T.” Its body is very little, but its head is very big. It has big red eyes. It has green, pointed ears. It makes strange noises. It is wearing an orange hat and green Converse sneakers.
Christy smiles at the strange man. “Can you speak English?”
“Of course, I can. I can speak 45,000 languages from 1,200 different planets.”
“Wow! You are very clever. I can only speak English.”
“Do you like our airplane?”
“Yes, but it is very cold. Are there any heaters on this plane?”
“Heat? What is heat?” the strange thing says. “That is a new word.”
“It’s what you use when you are cold. Like fire,” Christy answers.
“Ah, I see. I don’t know if there are heaters here. We can look.”
“Okay. First of all, my name is Christy. I’m 5 years old. What is your name?”
“Name? We don’t have names. I am 31AA. My brother is 32AA. He is flying the plane.”
“It’s nice to meet you,” Christy says.
Christy and 31AA look in the back of the plane. They look in the front of the plane. They look on the top, and on the bottom. There are no heaters.
“Maybe we can open the window,” Christy says. She walks to the one little window.
“Don’t do that. We only weigh a little. There will be a big problem if...”
It’s too late. Christy opened the window. Everyone knows you should never open a window in an airplane. Poor Christy didn’t know—it’s her first time on a plane! The two aliens, 31AA and 32AA, are sucked through the window!
Christy closes the window, and walks to the front of the air¬plane. She looks at the controls.
“I don’t know how to fly an airplane,” Christy says. “I don’t even know how to ride a bicycle!”

